*{
    box-sizing: border-box;
}
body{
  display: block;
  padding: 2% 20%;
  font-family: 'Times New Roman', Arial, sans-serif;
  background-size: contain;
  background-image: url(images/bg-pattern.jpg);
}
.menu1 a{
    background-image: url(images/bg-navigation.png);
    color: white;
    display: inline-block;
    padding: 1% 0.5%;
    border-radius: 0%;
    text-decoration: none;
    margin: 2% 0% 0.5% 0%;
    width: 13.85%;
    text-align: center;
}
.banner{
    border: 5px solid white;
    margin: 1% 0%;
    width: 100%;
}
.content{
  text-align: center;
  width: 100%;
}
.box{
  width: 100%;
}
.box .column1, .column2{
  display: inline-block;
}
.line{
  background-color: green;
  height: 1px;
  width: 98%;
  margin: 0.5%;
}
.new{
  background-color: white;
  padding: 0.5% 2%;
}
.certificate{
  background-color: white;
  padding: 0.5% 2%;
  margin-top: 1%;
}
.column1 {
  width: 65%;
  color: green;
  padding: 1% 0.5% 1% 0%;
}
.column2 {
  width: 32%;
  padding: 0%;
}
.column3{
  background-image: url(images/icons.png);
  width: 100%;
}
.column3 .menu2, .icon{
  display: inline-block;
}
.column3 .menu2 a{
  color: black;
  display: inline-block;
  padding: 2%;
  text-decoration: none;
  margin: 1%;
  width: 6%;
  text-align: left;
  font-size: 10px;
}
.column3 .icon a{
  width: 12%;
  padding: 8%;
  display: inline-block;
  text-decoration: none;
}
.certificate h4{
  text-align: right;
}
.rooms{
  height: 170px;
}
.dive-site{
  height: 170px;
}
.food{
  height: 170px;
}
.footer{
  text-align: center;
}